<!--
Invoice dynamically rendered into html using handlebars and converted into pdf
using chrome-pdf recipe. The styles are extracted into separate asset for
better readability and later reuse.

Data to this sample are mocked at the design time and should be filled on the
incoming API request.
!-->

<html>
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <style>
            {#asset style.css @encoding=utf8}
            {#asset /shared/styles.css @encoding=utf8}
        </style>
    </head>
    <body>
        <div class="page container column" >
            <div class="container row space-between" >
                <img class="logo item" src="{#asset /shared/citi-app-logo.png @encoding=dataURI}" />
                <img  class="item" src="data:image/png;base64, {{Barcode}}" alt="Barocde" />
                
            </div>
            <div class="container" >
                <h1 class="item">PURCHASE ORDER</h1>
            </div>
            <div class="container row space-between" >
                <div class="container column">
                    <div class="container row">
                        <p class="item">Supplier:</p>
                        <h3 class="item">{{Supplier}}</h3>
                     </div>
                    <div class="container row">
                        <p class="item">Delivery Address:</p>
                        <h3 class="item">{{DeliveryAdress}}</h3>
                    </div>
                </div>
                
                <div class="container-shrink column item" >
                    <dev class="container row space-between">
                        <p class="item text-align-left">PO Date:</p>
                        <p class="item text-align-right bold">{{Date}}</p>
                    </dev>
                    <dev class="container row space-between">
                        <p class="item text-align-left">Delivery Date:</p>
                        <p class="item text-align-right bold">{{DeliveryDate}}</p>
                    </dev>
                    <dev class="container row space-between">
                        <p class="item text-align-left">Total Amount:</p>
                        <p class="item text-align-right bold">{{formatMoney TotalAmount}}</p>
                    </dev>
                </div>
            </div>
            <table>
                <thead>
                    <tr>
                    <th>Brand</th>
                    <th>Model</th>
                    <th>Ordered <br> Quantity</th>
                    <th>Free <br> Quantity</th>
                    <th>Cost</th>
                    <th>Discount</th>
                    <th>Total Cost</th>
                </tr>
                </thead>
                <tbody>
                    {{#each Items}}
                    <tr>
                        <td>{{Brand}}</td>
                        <td>{{Model}}</td>
                        <td class="text-align-right">{{OrderedQuantity}}</td>
                        <td class="text-align-right">{{FreeQuantity}}</td>
                        <td class="text-align-right">{{formatMoney CostPrice}}</td>
                        <td class="text-align-right">{{Discount}}</td>
                        <td class="text-align-right">{{formatMoney TotalCostPrice}}</td>
                    </tr>
                    {{/each}}
                    <tr>
                        <td class="bold">Total</td>
                        <td></td>
                        <td class="text-align-right">{{TotalOrderedQuantity}}</td>
                        <td class="text-align-right">{{TotalFreeQuantity}}</td>
                        <td></td>
                        <td></td>
                        <td class="text-align-right">{{formatMoney TotalAmount}}</td>
                    </tr>
                </tbody>
                
                
            </table>
        </div>
    </body>
</html>
